<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wali.live.watchsdk">

    <!--账号权限-->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <!--xiaomi oauth权限-->
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE"/>

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--sdcard-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--引擎权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--系统下载管理-->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.wali.live.watchsdk.watch.WatchSdkActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLive"/>

        <activity
            android:name="com.wali.live.watchsdk.watch.ReplaySdkActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLive"/>

        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity"/>

        <activity
            android:name=".webview.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".webview.HalfWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomDialog"
            android:windowSoftInputMode="stateHidden"/>

        <!-- banner活动 -->
        <activity
            android:name="com.wali.live.watchsdk.schema.SchemeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:relinquishTaskIdentity="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.wali.live.sdk"
            android:theme="@style/Theme.PopupMessage">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="walilivesdk"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="live.mi.com"
                    android:scheme="http"/>
                <data
                    android:host="live.mi.com"
                    android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="walilivesdk.view"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="walilivesdk"/>
            </intent-filter>
            <intent-filter>
                <action android:name="walilivesdk.openlive"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="livesdkopen"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.wali.live.watchsdk.service.PacketProcessService"
            android:exported="false"/>

        <service
            android:name="com.mi.milink.sdk.service.MiLinkService"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.mi.milink.sdk.service.MiLinkService"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.mi.milink.sdk.receiver.AlarmReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.milink.sdk.heartbeat"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.mi.milink.sdk.receiver.NetworkReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.mi.milink.sdk.receiver.BootReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.wali.live.watchsdk.ipc.service.MiLiveSdkService"
            android:exported="true"/>
    </application>
</manifest>
