[submodule "pb"]
	path = pb
	url = http://git.inframe.club/skrer/pb.git
[submodule "pbgit"]
	path = pbgit
	url = http://git.inframe.club/skrer/pb.git
[submodule "pbgit1"]
	path = pbgit1
	url = http://git.inframe.club/skrer/pb.git
[submodule "pm"]
	path = pm
	url = git@git.inframe.club:skrer/pm.git
[submodule "flutter"]
	path = flutter
	url = git@git.inframe.club:chengsimin/flutter.git
[submodule "skr_flutter"]
	path = skr_flutter
	url = git@git.inframe.club:chengsimin/skr_flutter.git
