<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wali.live.livesdk">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="LQ7Vplxp654UlPP8UOvGSQDj"/>

        <activity
            android:name="com.wali.live.livesdk.live.LiveSdkActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLive"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name="com.wali.live.livesdk.live.image.ClipImageActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
    </application>

</manifest>
