<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wali.live.livesdk">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.wali.live.livesdk.live.LiveSdkActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLive"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.wali.live.livesdk.com.wali.live.common.photopicker.ClipImageActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <service
            android:name=".live.service.GameLiveService"
            android:exported="false" />

        <receiver
            android:name=".live.receiver.GameLiveNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="livesdk.intent.action.gamelive.notification" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
