<manifest package="com.live.module.common"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <receiver android:name="com.wali.live.receiver.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.wali.live.income.exchange.ExchangeGemActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.wali.live.pay.activity.RechargeActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
