<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.base.common">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.base.permission.rxpermission.ShadowActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PopupMessage"/>
    </application>
</manifest>
